* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('media/paysage2.png') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px; /* Ajustez la taille de votre logo si nécessaire */
}

.menu ul {
    display: flex;
    list-style-type: none;
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.menu ul li a:hover {
    text-decoration: underline;
}

.presentation {
    text-align: center;
    margin-top: 100px; /* Ajustez selon vos besoins */
    color: #fff;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-top: auto; /* Pour fixer le pied de page en bas */
}

.social-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.social-links li {
    margin-right: 10px;
}

.social-links li a {
    color: #fff;
    text-decoration: none;
}
